* {
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 200px;
}

p,
strong {
  line-height: 1.5rem;
}

header {
  background: #838383;
  display: flex;
  justify-content: space-between;
}

footer {
  background: #838383;
}

nav {
  background: #cecece;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 800px;
  margin: auto;
}

.switch-forms-link {
  text-decoration: underline;
  cursor: pointer;
}

.switch-forms-link:hover {
  text-decoration: none;
}

.success {
  color: #1ae000;
}

.error {
  color: #ff0000;
}

textarea {
  width: 100%;
  height: 100px;
}

.url-input {
  width: 100%;
}

#post-cards,
#comment-cards {
  display: grid;
  gap: 50px;
}

.post-card,
.comment-card  {
  background: orange;
}


