* {
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
}

p,
strong {
  line-height: 1.5rem;
}

header {
  background: #838383;
  display: flex;
  justify-content: space-between;
}

footer {
  background: #838383;
}

nav {
  background: #cecece;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 800px;
  margin: auto;
}

.switch-forms-link {
  text-decoration: underline;
  cursor: pointer;
}

.switch-forms-link:hover {
  text-decoration: none;
}

.success {
  color: #1ae000;
}

.error {
  color: #ff0000;
}

textarea {
  width: 100%;
  height: 100px;
}

.url-input {
  width: 100%;
}

#post-cards,
#comment-cards {
  display: grid;
  gap: 50px;
}

.post-card {
  background: lightgrey;
  display: grid;
}

#post-card-owner-profile-image-and-username,
#post-card-likes-and-timestamp,
#single-post-owner-profile-image-and-username,
#single-post-likes-and-timestamp {
  display: flex;
  gap: 20px;
}

#post-card-owner-profile-image,
#single-post-owner-profile-image,
#comment-card-owner-profile-image {
  max-width: 75px;
}

#single-post-info-and-body {
  background: yellow;
}

.comment-card  {
  background: lightgrey;
  display: grid;
  grid-template-areas: 
    'commentCardInfo commentCardBody'
    'commentCardEditAndDeleteButtons commentCardEditAndDeleteButtons'
  ;
  grid-template-columns: 150px auto;
}

#comment-card-info {
  background: grey;
  grid-area: commentCardInfo;
}

#comment-card-body {
  background: yellow;
  grid-area: commentCardBody;
}

#comment-card-edit-and-delete-buttons {
  grid-area: commentCardEditAndDeleteButtons;
}

.like {
  cursor: pointer;
}

